@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffebb3;
  background: #6b5140;
}

::selection {
  color: #ffebb3;
  background: #6b5140;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  color: #5a3e2b;
  font-weight: 500;
}

.app {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: "Monoton", cursive;
  font-size: 8rem;
  text-transform: uppercase;
  word-spacing: 2rem;
  letter-spacing: -0.2rem;
  padding: 2.4rem 2rem;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem 2.4rem;
}

h2 {
  font-size: 2.4rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
}

select {
  border-right: 1.8rem solid #ffebb3;
  padding-right: 0;
}

button {
  text-transform: uppercase;
  transition: all 0.3s;
}

button:not(:disabled):active {
  transform: scale(0.97);
}

button:disabled {
  cursor: not-allowed;
  background-color: #6ab39c;
}

.btn-form {
  background-color: #76c7ad;
}

.btn-form:hover {
  background-color: #6ab39c;
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;
  text-transform: capitalize;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.list label {
  cursor: pointer;
}

.btn-reset,
.list select {
  text-transform: uppercase;
  margin: 0 0.8rem;
}

.btn-reset:hover {
  background-color: #e6d4a1;
}

.list ul {
  list-style: none;
  width: 80%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 3.6rem;
  padding: 0;
  color: #ff5f1f;
}

.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 2rem;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 57em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 49em) {
  h1 {
    font-size: 6rem;
  }

  .add-form {
    flex-direction: column;
  }
}

@media (max-width: 37em) {
  html {
    font-size: 48%;
  }

  h1 {
    font-size: 5rem;
    word-spacing: 1rem;
  }

  .logo-icon {
    display: none;
  }
}
