@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

:root {
  --color-text: #333;
  --color-background: #fff4ea;
  --color-lightest: #ffdebf;
  --color-light: #ffc995;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-text);
  background: var(--color-dark);
}

::selection {
  color: var(--color-text);
  background: var(--color-dark);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--color-background);
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 38rem 44rem;
  column-gap: 4rem;
  row-gap: 2rem;
  align-items: start;
  margin: 4rem 2rem;
}

button,
select,
input {
  color: var(--color-text);
  border-radius: 7px;
  padding: 0.8rem 1.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.3s;
  text-align: center;
}

button {
  border: none;
  background-color: var(--color-medium);
}

input,
select {
  border: 1px solid var(--color-light);
}

input[type="url"] {
  text-transform: lowercase;
}

button:hover {
  background-color: var(--color-dark);
}

button:focus,
input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
  font-size: 2.2rem;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
  font-size: 1.6rem;
}

.sidebar li button {
  grid-row: span 2;
  grid-column: 3;
}

.sidebar > button {
  display: block;
  margin-left: auto;
  margin-right: 1.2rem;
}

form {
  display: grid;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--color-lightest);
  border-radius: 7px;
}

.form-add-friend {
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}

.form-split-bill {
  grid-template-columns: 1fr 12rem;
  padding: 3.2rem 4rem;
}

form button {
  margin-top: 0.6rem;
  grid-column: 2;
}

form h2 {
  grid-column: 1 / -1;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
}

.capitalize {
  text-transform: capitalize;
}

@media (max-width: 64em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56em) {
  html {
    font-size: 54%;
  }
}

@media (max-width: 48em) {
  body {
    align-items: flex-start;
  }
  .app {
    grid-template-columns: 1fr;
    min-height: 0;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }
}
