:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background-color: var(--color-background-900);
}

.app {
  padding: 2.4rem;
  height: 100vh;
  height: 100svh;
  display: grid;
  gap: 2.4rem;
  grid-template-rows: 8rem calc(100vh - 8rem - 2.4rem * 3);
  grid-template-rows: 8rem calc(100svh - 8rem - 2.4rem * 3);
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 9px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo img {
  width: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 42rem;
}

.search-input {
  background-color: var(--color-primary-light);
  border: none;
  border-radius: 8px;
  color: var(--color-text);
  font-size: 1.8rem;
  line-height: 1;
  outline: none;
  padding: 1.2rem 1.6rem 1.2rem 4.4rem;
  transition: all 0.3s;
  width: 100%;
}

.search-input::placeholder {
  color: var(--color-text-dark);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  left: 1.6rem;
  fill: var(--color-text-dark);
  width: 1.8rem;
  height: 1.8rem;
}

.num-results {
  font-size: 1.8rem;
}

/* MAIN */

.main {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.box {
  width: 100%;
  max-width: 42rem;
  background-color: var(--color-background-500);
  border-radius: 9px;
  overflow-y: scroll;
  position: relative;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

.list {
  list-style: none;
  padding-top: 0.8rem;
  overflow: scroll;
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list li:last-child {
  border-bottom: none;
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list.list-movies .selected {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn-delete {
  position: absolute;
  right: 2.6rem;
  border: none;
  background: none;
  width: 2.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  transform: translateY(-1.6px);
}

/* WATCHED SUMMARY */

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 9px;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* MOVIE DETAILS */

.details {
  line-height: 1.4;
  font-size: 1.6rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 9px;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  max-width: 260px;
  width: 100%;
  transition: all 0.3s;
}

.btn-add:hover {
  background-color: var(--color-primary-light);
}

.btn-back {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  border: none;
  background: none;
  width: 2.6rem;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s;
}

.btn-back:hover {
  transform: translateX(-1.6px);
}

/* MEDIA QUERIES */

@media (max-width: 56em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 49em) {
  .logo h1 {
    font-size: 2.2rem;
  }
  .search-bar {
    max-width: 430px;
  }
  .num-results {
    display: none;
  }
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box {
    max-width: 100%;
    height: calc((100vh - 7.68rem - 3 * 2.2rem - 2.4rem) / 2);
  }
}

@media (max-width: 32em) {
  html {
    font-size: 54%;
  }
  .logo {
    display: none;
  }
  .details section {
    padding: 2rem;
  }
  .rating {
    padding: 1.8rem 1.6rem;
  }
}

@media (max-width: 22em) {
  html {
    font-size: 50%;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
